body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8faf9;
  font-family: 'Inter', system-ui, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
